<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @faculty.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @faculty.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @faculty.last_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @faculty.department %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @faculty.rank %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
